<header><h1>Galeria zdjęć</h1></header>
<section class="photos">
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz1.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz2.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz3.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz4.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz5.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz6.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz7.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz8.JPG" alt="zdjecie"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz9.JPG" alt="zdjecie"/></a>
</section>