<header><h1>Galeria zdjęć</h1></header>
<section class="photos">
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz1.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz2.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz3.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz4.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz5.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz6.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz7.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz8.JPG"/></a>
    <a href="./../../assets/zdjecia/obraz1.JPG" target="_blank"><img src="./../../assets/miniaturki/obraz9.JPG"/></a>
</section>