<h3>Pożyczki</h3>
<table>
    <tbody>
        <tr>
            <td>Kwota pożyczki:</td>
            <td><input id="K" /></td>
        </tr>
        <tr>
            <td>Oprocentowanie roczne:</td>
            <td><input id="pr" /></td>
        </tr>
        <tr>
            <td>Liczba rat:</td>
            <td><input id="n" /></td>
        </tr>
        <tr>
            <td>Rata miesięczna:</td>
            <td><input id="rata" disabled value="" /></td>
        </tr>
        <tr>
            <td>Kwota z odsetkami:</td>
            <td><input id="kw" disabled value="" /></td>
        </tr>
        <td><button onclick="liczraty()">Oblicz ratę : </button></td>
    </tbody>
</table>
