
<section id="container">
    <p></p> 
    <h3>Podstawowe znaczniki HTML to:</h3>
    <ul>
        <li>&lt;html&gt; - korzeń dokumentu</li>
        <li>&lt;head&gt; - nagłówek strony z informacjami dla przeglądarek</li>
        <li>&lt;body&gt; - właściwa treść dokumentu widoczna w oknie przeglądarki</li>
        <li>&lt;div&gt; - element blokowy</li>
        <li>&lt;p&gt; - akapit</li>
        <li>&lt;ol&gt;, &lt;ul&gt;, &lt;li&gt; - elementy listy wypunktowanej lub numerowanej</li>
        <li>&lt;img&gt; - obrazek</li>
        <li>&lt;a&gt; - hiperłącze</li>
    </ul>
    <article id="content">Tu będzie umieszczony krótki opis podstawowych tagów HTML.
    <a href="https://validator.w3.org"><p>HTML validator</p> <img src="https://www.w3.org/Icons/WWW/w3c_home_nb" alt="w3c"></a>
    </article>
</section>
