<section id="niemenu"><h3>Podstawowe znaczniki formularza HTML to:</h3>
    <ul>
      <li>&lt;form&gt; - znacznik podstawowy zawierający pola formularza</li>
      <li>&lt;input&gt; - znacznik umożliwia wstawienie różnych pól (pole tekstowe, przycisk typu radio, przycisk typu checkbox) w zależności od wartości jego atrybutu type</li>
      <li>&lt;select&gt; - pole formularza typu lista rozwijana</li>
      <li>&lt;textarea&gt; - pole formularza typu obszar tekstowy</li>
      <li>&lt;button&gt; - pole formularza typu przycisk</li>
    </ul>
  </section>
<div>
  <h3>Podstawowy formularz HTML</h3>
    <form action="mailto:s99689@pollub.edu.pl" method="post">
    <label for="surname" class="inp">Nazwisko: </label> <input type="text" name="surname" id="surname"/> <br />
    <label for="age" class="inp">Wiek: </label><input type="text" name="age" id="age"/> <br />
    <label for="kraj" class="inp">Państwo: </label>
    <select id="kraj" name="kraj" class="selector">
      <option value="pl" selected>Polska</option>
      <option value="de">Niemcy</option>
      <option value="fr">Francja</option>
      <option value="uk">Wielka Brytania</option>
    </select><br />
    <label for="emil" class="inp">Adres e-mail: </label><input type="text" name="age"/> <br />
    <br />
    Zamawiam tutorial z języka: <br />
    <input type="checkbox" name="C" value="C" /><label for="C">Język C/C++</label> 
    <input type="checkbox" name="Java" value="J" /> <label for="Java">Język Java</label>
    <input type="checkbox" name="PHP" value="PHP" /> <label for="PHP">Język PHP</label> <br />
    <br />
    
    Sposób zapłaty: <br />
    <input type="radio" name="sp" value="eur" /> <label for="sp">eurocard</label>
    <input type="radio" name="sp" value="visa" /> <label for="sp">visa</label> 
    <input type="radio" name="sp" value="przelew" /> <label for="sp">przelew bankowy</label> <br />
    <input type="submit" value="Wyślij" class="btn2"/>
    <input type="reset" value="Anuluj" class="btn2"/>
    </form>
</div>