/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(255, 255, 255);
    color:#000040;
    }

h1, h2, footer {
        background: #000040;
        color: #8080ff;
        text-align:center;
}


